body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

button {
    border-radius: 0.25rem;
    background: white;
    color: black;
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
    width: 35px;
}

.number {
    border: 0.75px solid blue;
}

.number:hover {
    background: rgb(236, 236, 255);
}

.decimal {
    border: 0.75px solid rgb(255, 0, 200);
}

.decimal:hover {
    background: rgb(255, 210, 245);
}

.operator {
    border: 0.75px solid rgb(0, 255, 60);
}

.operator:hover {
    background: rgb(217, 255, 226);
}

.equal {
    border: 0.75px solid rgb(0, 238, 255);
}

.equal:hover {
    background: rgb(213, 252, 255);
}

.clear {
    border: 0.75px solid rgb(255, 0, 0);
}

.clear:hover {
    background: rgb(255, 208, 208);
}

.display {
    border: 0.75px solid black;
    border-radius: 0.25rem;
}